H6 {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, Arial, Helvetica
}
BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, Arial, Helvetica
}
:link {
	FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: verdana, Arial, Helvetica; TEXT-DECORATION: none
}
:active {
	FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 8pt; COLOR: #66ffff; FONT-FAMILY: verdana, Arial, Helvetica; TEXT-DECORATION: none
}
:visited {
	FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: verdana, Arial, Helvetica; TEXT-DECORATION: none
}
TD {
	FONT-FAMILY: verdana, Arial, Helvetica
}
