BODY {
	FONT-FAMILY: Tahoma, sans-serif
}
DIV {
	FONT-FAMILY: Tahoma, sans-serif
}
SPAN {
	FONT-FAMILY: Tahoma, sans-serif
}
P {
	FONT-FAMILY: Tahoma, sans-serif
}
UL {
	FONT-FAMILY: Tahoma, sans-serif
}
LI {
	FONT-FAMILY: Tahoma, sans-serif
}
TD {
	FONT-FAMILY: Tahoma, sans-serif
}
TH {
	FONT-FAMILY: Tahoma, sans-serif
}
INPUT {
	FONT-FAMILY: Tahoma, sans-serif
}
SELECT {
	FONT-FAMILY: Tahoma, sans-serif
}
TEXTAREA {
	FONT-FAMILY: Tahoma, sans-serif
}
BUTTON {
	FONT-FAMILY: Tahoma, sans-serif
}
.cm TD {
	FONT-FAMILY: Arial
}
.cm TD A {
	FONT-FAMILY: Arial
}
.nip A {
	FONT-FAMILY: Arial
}
.alr A {
	FONT-FAMILY: Arial
}
.hd {
	FONT-FAMILY: Arial
}
.nip .hilite {
	FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 75%
}
TH {
	FONT-SIZE: 75%
}
.qlink {
	FONT-SIZE: 95%
}
.txt {
	FONT-SIZE: 95%
}
.txtad A {
	FONT-SIZE: 95%
}
.promo A {
	FONT-SIZE: 95%
}
.bt TD A {
	FONT-SIZE: 95%
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em
}
.terms .ct {
	FONT-SIZE: 80%
}
.termsattr .ct {
	FONT-SIZE: 80%
}
.right {
	TEXT-ALIGN: right
}
.sfl {
	WHITE-SPACE: nowrap
}
.second {
	FONT-SIZE: 75%
}
.date A {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, sans-serif
}
.rf {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, sans-serif
}
.shop .il A {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, sans-serif
}
.srch {
	FONT-FAMILY: Tahoma
}
.bt TD A {
	FONT-FAMILY: Tahoma
}
.txt .txtad {
	FONT-FAMILY: Tahoma
}
.promo A {
	FONT-FAMILY: Tahoma
}
.bbsw {
	FONT-FAMILY: Tahoma
}
.help {
	FONT-SIZE: 12px
}
.nip .dk {
	FONT-SIZE: 90%; FONT-FAMILY: Verdana, sans-serif
}
H4 {
	FONT-SIZE: 1em
}
.sm {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, sans-serif
}
.ql .md {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, sans-serif
}
.ql .md A {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, sans-serif
}
